numpy<2
pandas
scikit-learn==1.7.0
scikit-learn-extra==0.3.0
xarray
matplotlib
cartopy
geopandas
pykrige
tqdm
cfgrib
plotly
streamlit
netCDF4
pvlib

sqlalchemy
scipy
seaborn
contextily
shapely
pyyaml
joblib
psutil
xgboost
pytest
