numpy
pandas
scikit-learn
scikit-learn-extra
xarray
matplotlib
cartopy
geopandas
pykrige
tqdm
cfgrib
plotly
streamlit
netCDF4
pvlib

sqlalchemy
scipy
seaborn
contextily
shapely
pyyaml
joblib
psutil
xgboost
pytest
